{% extends "layout.html" %}
  {% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

</style>
   <table class="table table-hover" style="margin-left: auto;
      margin-right: auto; width: 80%; float: center; " onload="map_display()">
      <tr class="border">
        <td style="text-align: center; float: center; padding-left: 30px; padding-right: 30px">
          <nav style="color: white; font-size: 13px; padding-left: 10px;padding-right: 10px; text-align: left; float: left;" class="rounded navbar navbar-dark bg-primary">
            <span> Posted by: <a class="link-light" href="/profile/{{Trip.email.email}}" style="font-family: Arial, sans-serif; color: #ffcc66; text-decoration: none;"> {{Trip.email.first_name}} {{Trip.email.last_name}}
          </a></span>
        </nav>
        </td>
      </tr>

    <br><br>  
    {% for blog in Trip.blogs %}
        <tr class="border">
          <td id="td{{blog.blog_id}}" style="text-align: center; float: center; padding-left: 30px; padding-right: 30px" >
          
          <nav style="color: white;" class="rounded navbar navbar-dark bg-primary"><span style="text-align: center; margin-left: auto; 
                margin-right: auto; font-family: Copperplate, 'Copperplate Gothic Light', fantasy; font-size: 18px;"> {{blog.location}}</span></nav>
          <br>


            <div class="slideshow-container">
            {% for i in blog.images %}
              {% if blog.images|length>1%}
              <div class="mySlides{{blog.blog_id}}">
                  <img id="img{{i.image_id}}" onclick="modal(img{{i.image_id}})" class="rounded" src="{{url_for('static', filename=i.filename)}}" style="width: 80%" />
              </div>
              {%else%}
              <div>
                  <img id="img{{i.image_id}}" onclick="modal(img{{i.image_id}})" class="rounded" src="{{url_for('static', filename=i.filename)}}" style="width: 80%" />
              </div>
              {% endif %}
            {% endfor %}


              <div id="modal_div" class="modal">
                  <span class="close">&times;</span>
                  <img id="modal_img" class="rounded"/>
              </div>


            {% if blog.images|length>1%}
            <span class="prev" onclick="plusSlides(-1, {{blog.blog_id}})">&#10094;</span>
            <span class="next" onclick="plusSlides(1, {{blog.blog_id}})">&#10095;</span>
            {% endif %}
            <br> 
            </div>

            <div style="padding-left: 30px; padding-right: 30px;">
              <p style="text-align: left; font-family: Arial, sans-serif; font-size: 15px;">{{blog.text}}</p>
            </div>

            <div>
            <span id="number_of_thumbs{{blog.blog_id}}">{{blog.thumbs|length}}</span>

            {% if blog.is_liked %}
                <i onclick="thumb(thumb{{blog.blog_id}}, number_of_thumbs{{blog.blog_id}}, {{blog.blog_id}})" style="font-size: 30px; color: red;" class="bi bi-hand-thumbs-up-fill" id="thumb{{blog.blog_id}}" >
                  
                </i>
              {% else %}
                <i onclick="thumb(thumb{{blog.blog_id}}, number_of_thumbs{{blog.blog_id}}, {{blog.blog_id}})" style="color: black; font-size:  30px;" class="bi bi-hand-thumbs-up" id="thumb{{blog.blog_id}}"></i>
              {% endif %}

            <span id="number_of_comments{{blog.blog_id}}">{{blog.comments|length}}</span>
            <i onclick="comment_display(comment_display{{blog.blog_id}})" style="font-size:  30px;" class="bi bi-chat-left-text"></i>

            <i onclick="comment(comment_block{{blog.blog_id}})" style="font-size:  30px; padding-left: 10px;" class="bi bi-pencil"></i>
            </div>
            <div id="comment_block{{blog.blog_id}}" class="border" style="display: none;">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span style="background-color: black; color: white; " class="input-group-text" id="inputGroup-sizing-default" >{{user.first_name}} {{user.last_name}}</span>
                </div> 
                <textarea class="form-control"  rows="1" name="text" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Comment..."  method="post" id="comment{{blog.blog_id}}" ></textarea>
                <button class="btn btn-info" onclick="send_comment(comment{{blog.blog_id}}, comment_block{{blog.blog_id}}, {{blog.blog_id}}, td{{blog.blog_id}}, number_of_comments{{blog.blog_id}})">Submit</button>
              </div>
              
            </div>
            <br>
            <div id="comment_display{{blog.blog_id}}" style="display: none;">
            {% for c in blog.comments %}
                <div class="input-group" id="{{blog.blog_id}}comment_div{{c.date}}">
                  <div class="input-group-prepend" >
                    <a href="/profile/{{c.email.email}}" style="text-decoration: none;"><span class="input-group-text" id="inputGroup-sizing-default" >{{c.email.first_name}} {{c.email.last_name}}</span></a>
                  </div> 
                  <a href=""></a><p style="text-align: left" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    
                    {{c.text}} <span style="font-size:10px; float: right; ">
                      {% if c.email.email==user.email or blog.email.email==user.email %}
                        <i style="font-size: 20px; color: red;" onclick="remove_comment('{{blog.blog_id}}comment_div{{c.date}}', '{{c.date}}', '{{c.text}}', {{blog.blog_id}}, number_of_comments{{blog.blog_id}})" class="bi bi-x-circle"></i>
                      {% endif %}
                    {{c.date}}</span>
                  </p>
                </div>
            {% endfor %}
            </div>
            
        </td>
        </tr>
    {% endfor %}     
 </table>
  
<script type="text/javascript">
  function remove_comment(div ,date, text, blogid, number_of_comments) {
    number_of_comments.innerHTML=parseInt(number_of_comments.innerHTML)-1;
    fetch('/comment/'+"{{Trip.trip_id}}"+"/"+String(blogid)+"/"+String(text)+"/"+String(date)+"/delete");
    var div = document.getElementById(div);
    div.remove();
  }


  function comment_display(d) {
    if (d.style.display=="none"){
      d.style.display="block";
    }
    else{
      d.style.display="none";
    }
  }

  function modal(img) {
    console.log("pass");
    console.log(img);
    var div = document.getElementById("modal_div");
    var modal_img = document.getElementById("modal_img");
    div.style.display="block";
    modal_img.style.width = "70%";
    modal_img.src=img.src;
  }

  var span = document.getElementsByClassName("close")[0];

  span.onclick = function() { 
    var div = document.getElementById("modal_div");
    div.style.display = "none";
  }


  var slideIndex = {};
  {% for blog in Trip.blogs %}
    {%if blog.images|length>1 %}
    slideIndex["{{blog.blog_id}}"]=1; 
    {% endif %} 
  {% endfor %}

  {% for blog in Trip.blogs %}
    {%if blog.images|length>1 %}
    showSlides(slideIndex["{{blog.blog_id}}"], "{{blog.blog_id}}");
    {% endif %} 
  {% endfor %}

  function plusSlides(n, tripid) {
    showSlides(slideIndex[String(tripid)] += n, String(tripid));
  }

  function showSlides(n, tripid) {
    slides = document.getElementsByClassName("mySlides"+String(tripid));
    var i=0;
    if (n > slides.length) {slideIndex[String(tripid)] = 1}    
    if (n < 1) {slideIndex[String(tripid)] = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    slides[slideIndex[String(tripid)]-1].style.display = "block";  
  }


  function send_comment(comment, block, blogid, td, number_of_comments) {
    number_of_comments.innerHTML=parseInt(number_of_comments.innerHTML)+1;

    let div1 = document.createElement('div');
    div1.setAttribute("class", "input-group");

    let div2 = document.createElement('div');
    div2.setAttribute("class", "input-group-prepend");

    let span = document.createElement('span');
    span.setAttribute("class", "input-group-text");
    span.innerHTML = "{{user.first_name}}"+" "+"{{user.last_name}}";

    let p = document.createElement('p');
    p.setAttribute("class", "form-control");
    p.setAttribute("aria-label", "Default");
    p.setAttribute("aria-describedby", "inputGroup-sizing-default");
    p.style.textAlign="left"
    p.innerHTML = comment.value;
    
    var currentdate = new Date();
    var month = 0; 
    var date = 0;
    var hours = 0;
    var minutes = 0;
    var seconds = 0;
    if(currentdate.getMonth()<9){month = "0"+String(currentdate.getMonth()+1);}
    else{month = String(currentdate.getMonth()+1);}

    if(currentdate.getDate()<10){date = "0"+String(currentdate.getDate());}
    else{date = String(currentdate.getDate());}

    if(currentdate.getHours()<10){hours = "0"+String(currentdate.getHours());}
    else{hours = String(currentdate.getHours());}

    if(currentdate.getMinutes()<10){minutes = "0"+String(currentdate.getMinutes());}
    else{minutes = String(currentdate.getMinutes());}

    if(currentdate.getSeconds()<10){seconds = "0"+String(currentdate.getSeconds());}
    else{seconds = String(currentdate.getSeconds());}

    var datetime = currentdate.getFullYear()+ "-" 
                + month +"-" 
                + date + " "
                + hours + ":"  
                + minutes + ":" 
                + seconds;
    
    fetch('/comment/'+"{{Trip.trip_id}}"+"/"+String(blogid)+"/"+String(comment.value)+"/"+String(datetime)+"/add");
    let span_date = document.createElement('span');
    span_date.style.fontSize="10px";
    span_date.style.float="right";
    span_date.innerHTML = String(datetime);

    comment.value="";
    block.style.display = "none";
    var a_href = document.createElement('a');
    a_href.setAttribute("href", "/profile/{{user.email}}")
    a_href.style.textDecoration="none";
    td.appendChild(div1);
    div1.appendChild(div2);
    div2.appendChild(a_href);
    a_href.appendChild(span);
    div1.appendChild(p);
    p.appendChild(span_date);
  }

  function thumb(t, n, blogid) {
    if(t.getAttribute("class") == "bi bi-hand-thumbs-up"){
      t.style.color="red";
      t.setAttribute("class", "bi bi-hand-thumbs-up-fill");
      n.innerHTML=parseInt(n.innerHTML)+1;
      fetch('/thumb/'+"{{Trip.trip_id}}"+"/"+String(blogid)+"/add");
      }
    else{
      t.setAttribute("class", "bi bi-hand-thumbs-up");
      t.style.color="black";
      n.innerHTML=parseInt(n.innerHTML)-1;
      fetch('/thumb/'+"{{Trip.trip_id}}"+"/"+String(blogid)+"/delete");
    }
  }

  function comment(block_id) {
    if (block_id.style.display == "block"){
      block_id.style.display = "none";
    }
    else{
      block_id.style.display = "block";
    } 
  }
</script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
{%endblock%}