{% extends "layout.html" %}
  {% block content %} 
<div style="width: 55%; float: left"> 
  <img class="center" width="100%"  src="{{url_for('static', filename='logo.jpg')}}"></img>
  <p style="text-align: center; font-family:cursive; font-size: 18px">Traveller Blog</p>
</div>
 <div style="width: 45%; float: right;"> 
  <br><br><br><br><br><br><br><br><br>
  
  <form action="" method="post">
     <table class="table table-hover" style="margin-left: auto;
      margin-right: auto; width: 40%; float: left;">
      {% if warning %}
        <p style="color: red; text-align:center ; ">{{warning}}!</p>
      {% endif %}
      <tr>
        <td>
          <div class="input-group">
          <div class="input-group-prepend" >
            <span class="input-group-text" id="inputGroup-sizing-default" >Email</span>
          </div> 
            <input type="email" name="email"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"  required="required" value="{{ values['email'] }}" placeholder="name@example.com"/>
          </div>
        </td>  
      </tr>

      <tr>
        <td>
          <div class="input-group"> 
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            </div> 
            <input type="password" name="password"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{ values['password'] }}"/>
          </div>
        </td>  
      </tr>
      <tr>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <button formaction="/login" type="submit" class="btn btn-success">Login</button>
              <button formaction="/forgot_password" type="submit" class="btn btn-info" style="margin-right: 10px">Forgot password?</button>
            </div>
         </div>
       </td>
      </tr>
    </table>
  </form>
</div>
{%endblock%}